.infowindow-scroll-fix {
    line-height: 1.35;
    overflow: auto;
    white-space: nowrap;
    border-radius: 2px;
}

.infowindow-scroll-fix .ng-scope {
    border-radius: 2px;
}

/* logo-header: in viewer, viewer_campus*/
.logo-header-title {
    font-size: 3.5rem;
    /*font-weight: bolder;*/
    color: white;
    /*margin-left: -2px;*/
}
.logo-header-version {
    font-size: 1.5rem;
    font-weight: bolder;
    color: white;
    margin-left: -40px;
    margin-top: 35px;
    position: absolute;
    opacity: 0.6;
}

.center-delete-div {
    text-align: center;
    padding: 0 0 10px 0;
}

.center-div {
    text-align: center;
}
.logo-header-img {
    width: 140px;
    /*margin-bottom: -2px;*/
}

.btn-user {
    cursor: pointer;
}

.btn-user:hover {
    font-weight: 900;
}

.textUserAdmin {
    font-weight: bolder;
    color: #A10000FF;
}