html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    color: #4d394b;;
    font-family: 'Lato', sans-serif;
    letter-spacing: -1px;
    -webkit-font-smoothing: antialiased;
    position: relative;
}

footer{
    margin-top: 0px !important;
}

#login-details {
    float: right;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    margin-right: 20px;
}

#minimize-btn {
    position: absolute;
    right: 1px;
    top: 2px;
    padding: 2px 8px;
    outline-style: none;
    background: #428bca;
    border-radius: 0;
}

.controls {
    margin-top: 16px;
    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 32px;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input {
    background-color: #fff;
    padding: 0 11px 0 13px;
    width: 400px;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    text-overflow: ellipsis;
    left: 325px !important;
}

#pac-input:focus {
    border-color: #4d90fe;
    margin-left: -1px;
    padding-left: 14px; /* Regular padding-left + 1. */
    width: 401px;
}

.pac-container {
    font-family: Roboto;
}

#type-selector {
    color: #fff;
    background-color: #4d90fe;
    padding: 5px 11px 0px 11px;
}

#type-selector label {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
}

#map-canvas {
    height: 100%;
    width: 100%;
    position: absolute;
    margin: 0;
    padding: 0;
}

#control-panel {
    width: auto;
    max-width: 30%;
    height: auto;
    max-height: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0;
    padding: 0;
    overflow-y: scroll;
    z-index: 99;
    background-color: white;
}

#floorCanvas {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    -webkit-user-select: none;
}

#draggable-building, #draggable-poi,#POIs-mode-btn {
    width: 30px;
    height: 30px;
    z-index: 100000;
}

#draggable-poi,#POIs-mode-btn {
    width: 21px;
    height: 32px;
    z-index: 1000000000;
}

.draggable-border {
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 4px;
    display: inline-block;
}

.draggable-border-green {
    border: 3px solid green;
    border-radius: 6px;
    padding: 4px;
    display: inline-block;
}

#control-bar {
    width: auto;
    max-width: 35%;
    min-width: 400px;
    height: auto;
    max-height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    z-index: 99;
    border: 1px solid #ddd;
    background-color: white;
    /*border-top: 10px #428bca solid;*/
}


#control-bar-FMS {
    width: auto;
    max-width: 0%;
    min-width: 0px;
    height: auto;
    max-height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    z-index: 99;
    border: 1px solid #ddd;
    background-color: white;
    /*border-top: 10px #428bca solid;*/
}

#color-bar {
    /*width: auto;
    max-width: 0%;
    min-width: 0px;
    height: auto;
    max-height: 100%;*/
    position: fixed;
    bottom: 0;
    left: 50%;
    /*margin: 0;
    z-index: 99;
    border: 1px solid #ddd;
    background-color: white;*/
    right:50%;
    margin-left:-300px;
    /*border-top: 10px #428bca solid;*/
}

.A_0 {
    cursor: pointer;
}

/*.A_0*/

#logistics {
    background-color: #EEEEEE;
    padding: 5px;
    /*border: 1px #428bca solid;*/
    /*border-bottom: none;*/
    height: 60px;
    min-height: 50px;
    min-width: 300px;
    margin-bottom: 4px;
}

#ctrl-bar-buildings, #ctrl-bar-floors, #ctrl-bar-pois, #ctrl-bar-more {
    padding: 8px;
}

#control-panel::-webkit-scrollbar {
    display: none;
}

.title-semi {
    font-weight: bold;
    padding: 5px;
}

#my-buildings {
    height: auto;
}

#my-floors {
    height: auto;
}

#my-pois {
    height: auto;
}

.box-shadow-1 {
    -webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 0 10px 6px -6px #777;
    margin-bottom: 5px;
    margin-top: 5px
}

#my-buildings, #my-floors, #my-pois {
    padding: 8px;
}

#building-latitude, #building-longitude, #poi-latitude, #poi-longitude {
    display: inline;
    width: 49%;
}

.subnote {
    font-size: 14px;
    font-style: italic;

}

.scroll {
    height: 60px;
    overflow: auto;
}

.midnote {
    font-size: 16px;
    font-style: italic;
}

.dashed-box {
    border: 2px dashed #5d5d5d;
    padding: 8px;
    margin-bottom: 8px;
}

#floor-edit-panel .midnote {
    margin-bottom: 8px;
}

#div-logo {
    background-image: url('../images/anyplace_logo_text.png');
    height: 100%;
    width: 80px;
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 8px;
}

#bulding-tablist, #building-select-list, #floor-tablist, #floor-select-list, #floor-select-list-new, #poi-tablist, #poi-select-list {
    margin-bottom: 8px;
}

.div-margin-bottom {
    margin-bottom: 8px;
}

#architect-instructions {
    text-align: center;
    padding-top: 25%;
    padding-left: 20%;
    padding-right: 20%;
}

.
contextmenu {
    visibility: hidden;
    background: #ffffff;
    border: 1px solid #8888FF;
    z-index: 10;
    position: relative;
    width: 140px;
}

.contextmenu div {
    padding-left: 5px
}

.add-any-button {
    width: 100%;
}

#top-bar {
    height: 50px;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 9999999999999999;
}

.social-login-buttons {
    display: block;
    margin: 0 auto;
}

.working-on-indicator {
    margin: 0 0 8px 0;
    font-weight: bold;
}

.poi-toolbox-btn {
    width: 30px;
    height: 30px;
}

#poi-edge-mode {
    padding: 4px;
}


#edge-mode-btn {
    height: 30px;
    width: 30px;
    outline-style: none;
}

#DL_1{
    position:fixed;
    top:11px;
    left:50px;

}

#radioHeatmapRSS-mode, #APs-mode, #fingerPrints-mode, #localizationAccurancy-mode,#connections-mode,#POIs-mode,#delete-mode{
    padding: 0px;
}

#radioHeatmapRSS-mode-btn, #APs-mode-btn, #fingerPrints-mode-btn, #localizationAccurancy-mode-btn,#connections-mode-btn,#delete-mode-btn{
    height: 30px;
    width: 30px;
    outline-style: none;
}


.divider-top-5 {
    margin-top: 5px;
}

.divider-top-5-line {
    margin-top: 2px;
    border-top: 1px solid #5d5d5d;
    padding-top: 2px;
}


.divider-top-15 {
    margin-top: 15px;
}

.divider-top-15-line {
    margin-top: 15px;
    border-top: 1px solid #5d5d5d;
    padding-top: 10px;
}

.divider-bottom-15 {
    margin-bottom: 15px;
}

.divider-bottom-15-line {
    margin-bottom: 15px;
    border-bottom: 1px solid #5d5d5d;
    padding-bottom: 10px;
}

.divider-top-10 {
    margin-top: 10px;
}

.divider-top-10-line {
    margin-top: 10px;
    border-top: 1px solid #5d5d5d;
    padding-top: 5px;
}

.divider-bottom-10 {
    margin-bottom: 10px;
}

.divider-bottom-10-line {
    margin-bottom: 10px;
    border-bottom: 1px solid #5d5d5d;
    padding-bottom: 5px;
}

.warning-prereq {
    padding: 15px;
}

#sign-in-box {
    padding: 20px;
}

#notification_panel {
    position: absolute;
    width: 100%;
    height: 100px;
    bottom: -110px;
    right: 0;
    z-index: 1000;
    word-break: normal;
    word-wrap: break-word;
}

.profile-photo {
    background-size: 32px 32px;
    border-radius: 50%;
    display: inline-block;
    margin: -1px;
    height: 32px;
    width: 32px;
}

.profile-photo-wrapper {
    background-color: transparent;
    outline-style: none;
    pointer-events: none;
    cursor: not-allowed;
}

.infowindow-scroll-fix {
    line-height: 1.35;
    overflow: auto;
    white-space: nowrap;
}

.alert {
    margin-bottom: 5px !important;
}

.center-delete-div {
    text-align: center;
    padding: 0 0 10px 0;
}

.center-wifi-div {
    text-align: center;
}

.form-group {
    margin-bottom: 5px !important;
}

.b-more-button {
    display: inline-block;
}

/* Prevent text overflow in Bootstrap */
.ui-select-bootstrap > .ui-select-match > .ui-select-toggle > .ui-select-match-text:not(.ng-hide),
.ui-select-bootstrap > .ui-select-match > .ui-select-toggle > .ui-select-placeholder:not(.ng-hide) {
    display: block;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

/* Prevent text overlapping the carret on the right */
.ui-select-bootstrap > .ui-select-match > .ui-select-toggle {
    padding: 6px 24px 6px 12px;
}

#DIV_1 {
    box-shadow: rgba(0, 0, 0, 0.65098) 0px 1px 5px 0px;
    clear: both;
    float: left;
    z-index: 7;
    -webkit-box-shadow: rgba(0, 0, 0, 0.65098) 0px 1px 5px 0px;
    perspective-origin: 20px 61px;
    -webkit-perspective-origin: 20px 61px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    transform: matrix(1, 0, 0, 1, 0, 0);
    -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
    transform-origin: 20px 61px;
    -webkit-transform-origin: 20px 61px;
    -webkit-user-select: none;
    background: rgb(241, 241, 241) none repeat scroll 0% 0% / auto padding-box border-box;
    font: normal normal normal normal 18px/27px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    margin: 10px 0px 0px 10px;
    position: absolute;
    bottom: 20px;
    right: 10px;
}

/*#DIV_1*/

#A_2, #A_5 {
    background-position: 50% 50%;
    color: rgb(0, 0, 0);
    display: block;
    height: 40px;
    text-align: center;
    text-decoration: none;
    width: 45px;
    -webkit-column-rule-color: rgb(0, 0, 0);
    -webkit-locale: en;
    perspective-origin: 20px 20.5px;
    -webkit-perspective-origin: 20px 20.5px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-text-decorations-in-effect: none;
    -webkit-text-emphasis-color: rgb(0, 0, 0);
    -webkit-text-fill-color: rgb(0, 0, 0);
    -webkit-text-stroke-color: rgb(0, 0, 0);
    transform-origin: 20px 20.5px;
    -webkit-transform-origin: 20px 20.5px;
    -webkit-user-select: none;
    background: rgb(255, 255, 255) none no-repeat scroll 50% 50% / auto padding-box border-box;
    border-top: 0px none rgb(0, 0, 0);
    border-right: 0px none rgb(0, 0, 0);
    border-bottom: 1px solid rgb(228, 228, 228);
    border-left: 0px none rgb(0, 0, 0);
    font: normal normal normal normal 18px/40px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    outline: rgb(0, 0, 0) none 0px;
    -webkit-border-after: 1px solid rgb(228, 228, 228);
    -webkit-border-before: 0px none rgb(0, 0, 0);
    -webkit-border-end: 0px none rgb(0, 0, 0);
    -webkit-border-start: 0px none rgb(0, 0, 0);
}

/*#A_2, #A_5*/

#A_2 {
    cursor: pointer;
}

#A_6 {
    color: rgb(0, 0, 0);
    display: block;
    height: 40px;
    text-align: center;
    text-decoration: none;
    width: 45px;
    -webkit-column-rule-color: rgb(0, 0, 0);
    perspective-origin: 20px 20px;
    -webkit-perspective-origin: 20px 20px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-text-decorations-in-effect: none;
    -webkit-text-emphasis-color: rgb(0, 0, 0);
    -webkit-text-fill-color: rgb(0, 0, 0);
    -webkit-text-stroke-color: rgb(0, 0, 0);
    transform-origin: 20px 20px;
    -webkit-transform-origin: 20px 20px;
    -webkit-user-select: none;
    background: rgb(255, 255, 255) none no-repeat scroll 50% 50% / auto padding-box border-box;
    border: 0px none rgb(0, 0, 0);
    font: normal normal normal normal 18px/40px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    outline: rgb(0, 0, 0) none 0px;
    -webkit-border-after: 0px none rgb(0, 0, 0);
    -webkit-border-before: 0px none rgb(0, 0, 0);
    -webkit-border-end: 0px none rgb(0, 0, 0);
    -webkit-border-start: 0px none rgb(0, 0, 0);
    cursor: pointer;
}

/*#A_6*/

.find-me-box-parent {
    position: absolute;
    left: 8px;
    bottom: 25px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.65098) 0px 1px 5px 0px;
    clear: both;
    z-index: 7;
    -webkit-box-shadow: rgba(0, 0, 0, 0.65098) 0px 1px 5px 0px;
    perspective-origin: 20px 61px;
    -webkit-perspective-origin: 20px 61px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    transform: matrix(1, 0, 0, 1, 0, 0);
    -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
    transform-origin: 20px 61px;
    -webkit-transform-origin: 20px 61px;
    -webkit-user-select: none;
    background: rgb(241, 241, 241) none repeat scroll 0% 0% / auto padding-box border-box;
    font: normal normal normal normal 14px/24px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    text-align: center;
}

.find-me-box-parent:hover {
    background-color: #fdfdfd;
}

#find-me-box {
    padding: 10px;
}

.pan-find-me-box-parent {
    position: absolute;
    left: 56px;
    bottom: 25px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.65098) 0px 1px 5px 0px;
    clear: both;
    z-index: 7;
    -webkit-box-shadow: rgba(0, 0, 0, 0.65098) 0px 1px 5px 0px;
    perspective-origin: 20px 61px;
    -webkit-perspective-origin: 20px 61px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    transform: matrix(1, 0, 0, 1, 0, 0);
    -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
    transform-origin: 20px 61px;
    -webkit-transform-origin: 20px 61px;
    -webkit-user-select: none;
    background: rgb(241, 241, 241) none repeat scroll 0% 0% / auto padding-box border-box;
    font: normal normal normal normal 14px/24px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    text-align: center;
}

.pan-find-me-box-parent:hover {
    background-color: #fdfdfd;
}

#pan-find-me-box {
    padding: 10px;
}

.center-view-box-parent {
    position: absolute;
    left: 8px;
    bottom: 75px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.65098) 0px 1px 5px 0px;
    clear: both;
    z-index: 7;
    -webkit-box-shadow: rgba(0, 0, 0, 0.65098) 0px 1px 5px 0px;
    perspective-origin: 20px 61px;
    -webkit-perspective-origin: 20px 61px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    transform: matrix(1, 0, 0, 1, 0, 0);
    -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
    transform-origin: 20px 61px;
    -webkit-transform-origin: 20px 61px;
    -webkit-user-select: none;
    background: rgb(241, 241, 241) none repeat scroll 0% 0% / auto padding-box border-box;
    font: normal normal normal normal 14px/24px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    text-align: center;
}

.center-view-box-parent:hover {
    background-color: #fdfdfd;
}

#center-view-box {
    padding: 10px;
}
.gm-style .gm-style-iw {
    overflow: visible !important;
}
.gm-style{
    position: absolute !important; left: 0px !important; top: 0px !important;
}

#control-bar-FMS .btn-default {
    width: 40px;
}

#my-loc-control {
    position: fixed;
    bottom: 0;
    left: 0;
}

/*WiFi Connectivity Scale*/
.spot {
    width: 250%;
}

.spot li {
    float          : left;
    width          : 50px;
    border         : 2px solid white;
    border-left    : none;
    border-right   : none;
    padding        : 2px;
    list-style     : none;
    text-align     : center;

}

.spot button {
    float          : left;
    width          : 50px;
    margin-bottom  : 10px ;
}

.spot li:hover {
    opacity : 1;
}

.spot li:first-child {
    border-left: 2px solid white;
}

.spot li:last-child {
    border-right: 2px solid white;
}

.faded{
    opacity: 0.5;
}

.infowindow-scroll-fix.h5, .infowindow-scroll-fix h5:before{
    margin: 0;!important;
}

.infowindow-text-area{
    resize: none;
    border:0px
}