[submodule "clients/android-new/lib-android"]
	path = clients/android-new/lib-android
	url = git@github.com:dmsl/anyplace-lib-android.git
[submodule "clients/core/lib"]
	path = clients/core/lib
	url = git@github.com:dmsl/anyplace-lib-core.git
