body{
    background-color: #333333;
    text-align: center;
}

#login_form{
    width: 400px;
    text-align: center;
    margin: 30px auto;
    padding: 10px;
    border: 2px solid #aaaaaa;
    border-radius: 5px;
    background-color: #fafafa;
}

    #login_form input{
        width: 100%;
        padding: 10px;
    }

    #login_form button{
        width: 100%;
        padding: 10px;
        font-weight: bolder;
        font-size: 18px;
    }

    #login_form select{
        width: 100%;
        padding: 10px;
        font-weight: bold;
    }

    #login_form .error{
        color: #ff0000;
        font-weight: bolder;
    }

    #login_form .success{
        color: #00ff00;
        font-weight: bolder;
        font-style: italic;
    }