<div id="container" class="container-fluid">

  <div class="row bg-gray header">

    <div class="col-md-3 col-sm-4 col-xs-4">
      <div class="item-row">
        <select class="form-control" required [(ngModel)]="resetPropsObj" (change)="categorySelectionChange($event)">
          <option disabled selected>Select a Object</option>
          <option *ngFor="let cat of selectObjList" [value]="cat">{{cat}}</option>
        </select>
      </div>
    </div>
    <div class="col-md-1" style="width:3.33%;padding-top: 8px;color:white; font-weight: bolder;">
      OR
    </div>    
    <div class="col-md-3 col-sm-4 col-xs-4">
      <div class="item-row">
        <select class="form-control" required [(ngModel)]="resetProps" (change)="floorSelected($event)">
          <option disabled selected>Select Building and Floor</option>
          <optgroup *ngFor="let build of buildingFloorObj" label="{{build.building_name}}">
            <option *ngFor="let floor of build.floor_obj" value="{{floor.buid + ',' + floor.floor_number}}">
               Floor - {{floor.floor_number}} 
             </option> 
          </optgroup>
        </select>
      </div>
    </div>
  </div>
  <div id="faq" [hidden]="hideTableLayout" role="tablist" aria-multiselectable="true" class="col-md-4 col-sm-4 col-xs-4 pull-right align-right" style="margin-top:4px;">

    <div class="panel panel-default">
    <div class="panel-heading" style="background: #337ab7; color:white; border-bottom:0;" role="tab" id="questionOne">
    
    <a data-toggle="collapse" style="color:white; text-decoration: none;" id="toggleClick" data-parent="#faq" href="#answerOne" aria-expanded="false" aria-controls="answerOne" class="collapsed">
    <h5 class="panel-title">Objects on Floor</h5>
    </a>
    
    </div>
    <div id="answerOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="questionOne">
    <div class="panel-body">
      <div id="filteringTable" *ngIf="objHistory">
        Start Date
        <input type="date" class="form-control form-inline-q" [(ngModel)]="startDateFilter" placeholder="Start Date" (input)="filterItem()">
        <input type="text" class="form-control form-inline pull-right" [(ngModel)]="objectTypeFilter" placeholder="Enter Object ID/Category" (input)="filterItem()">
        End Date&nbsp;
        <input type="date" class="form-control form-inline-q" [(ngModel)]="endDateFilter" placeholder="End Date" (input)="filterItem()">
        <button [disabled]="!hideFloorFilters" class="btn btn-danger form-control form-inline-r pull-right" (click)="resetClick()">RESET</button>

      </div>
      <div id="filteringSlider" *ngIf="objHistorySlider">
        <label>Total Visible Objects: {{visibleElements}}</label>
          <input class="form-control slider-style" style="display:inline;" type="range" min="0" max="110" value="110" (change)="sliderRange($event)">
      </div><br/>
      <table *ngIf="!hideCategoryTableLayout" class="table-hover table-bordered table">
        <tr><th>Object ID</th><th>Category</th><th>Last Seen</th></tr>
        <tr *ngFor="let cat of filteredValues" (click)="loadHistorySummary(cat)">            
          <td>{{cat.objName}}
          </td>
          <td>
            {{cat.history[0].objcat}}
          </td>            
          <td>
            {{cat.history[0].timestampDate}}
          </td>
        </tr>
      </table>
      <table *ngIf="!hideObjectTableLayout" class="table-hover table-bordered table">
        <tr><th>Building</th><th>Floor</th><th>Last Seen</th></tr>
        <tr *ngFor="let cat of filteredValues" (click)="loadHistory(cat)">            
          <td>{{cat.building_name}}
          </td>
          <td>
            {{cat.floor}}
          </td>            
          <td>              
            {{cat.timestampDate}}
          </td>        
        </tr>
      </table>
      <div [hidden]="hideFloorFilters">No Records Found.</div>

    </div>
    </div>
</div></div> 


  

  <div id="map_container" class="row">
    <div id="map" leaflet [leafletOptions]="options" [(leafletZoom)]="defaultZoom" [(leafletCenter)]="mapCenter" [leafletLayers]="markerLayers"
      (leafletMapReady)="mapReady($event)">
      <div *ngIf="showFloorLayer" [leafletLayer]="floorLayer"></div>
    </div>
  </div>

</div>