<!-- menu-bar -->
<div class="menubar">
    <a [class.active]="activeLink === 'dashboard'" routerLink="/dashboard" (click)="onClickMethod('dashboard')" skipLocationChange>Device Tracking</a>
    <a [class.active]="activeLink === 'points'" routerLink="/points" (click)="onClickMethod('points')" skipLocationChange>Access Point White listing</a>
    <a [class.active]="activeLink === 'others'" routerLink="/others" (click)="onClickMethod('others')" skipLocationChange>White Area Viewer</a>
</div>
<!-- /menu-bar -->

<div class="main-content">
    <router-outlet></router-outlet>
</div>


<!-- 
<a href="javascript:;" class="dashboard-header-button dash-active" title="My Dashboard">
    <span class="dashboard-header-button-text">Dashboard</span>
</a>
<a href="javascript:;" class="dashboard-header-button" title="Reports and Q&A">
    <span class="dashboard-header-button-text">Pointers temp name</span>
</a>
<a href="javascript:;" class="dashboard-header-button" title="Products and Data">
    <span class="dashboard-header-button-text">Others</span>
</a> -->