html, body{
    height: 100%;
}

.menubar {
    background-color: #2c3e50;
    overflow: hidden;
    height: 20%;
  }
  
  .menubar a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
    font-size: 16px;
  }
  
  /* .menubar a:link { color: #f2f2f2; }          Unvisited links */
  /* .menubar a:visited { color: #f2f2f2; }     Visited links */

  .menubar a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .menubar a.active {
    background-color: gray;
    color: white;
  }

  .main-content{
      height: 80% !important;
      overflow: hidden;
  }
