<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="cy.ac.ucy.cs.anyplace.logger">

  <!-- FLIR attachable usb unit -->
  <uses-feature android:name="android.hardware.usb.host" android:required="true" />

  <!-- CHECK: FLIR requires gles3.0. is yolo ok with that? anyplace? -->
  <!-- <uses-feature android:glEsVersion="0x00020000" android:required="true" />-->
  <uses-feature android:glEsVersion="0x00030000" android:required="true" />

  <uses-permission android:name="com.dmsl.anyplace.permission.MAPS_RECEIVE" />
  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

  <!--  TODO do not use sd card any more. -->
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
  <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

  <!--
       The following two permissions are not required to use
       Google Maps Android API v2, but are recommended.
  -->
  <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
  <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
  <uses-permission android:name="android.permission.WAKE_LOCK" />


  <!-- android:requestLegacyExternalStorage="true"-->
  <!--android:theme="@style/Theme.AnyplaceTheme"-->
  <application
    android:name=".LoggerApp"
    android:icon="@drawable/ic_launcher_logger"
    android:label="@string/app_name"
    android:theme="@style/AppTheme"
    >
    <activity
      android:name="StartActivity"
      android:label="@string/app_name"
      android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen" >
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />

        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
    <activity
      android:name="cy.ac.ucy.cs.anyplace.logger.legacy.AnyplaceAboutActivity"
      android:label="@string/app_name_about"
      android:theme="@android:style/Theme.Dialog" >
      <!--      <intent-filter>-->
      <!--        <action android:name="android.intent.action.MAIN" />-->
      <!--        <category android:name="android.intent.category.DEFAULT" />-->
      <!--      </intent-filter>-->
    </activity>

    <!-- singleTop before <0.8 ! -->

    <activity
      android:name=".legacy.SearchPOIActivity"
      android:label="Search POI"
      android:launchMode="singleTop"
      android:screenOrientation="portrait"
      android:theme="@android:style/Theme.Light" >
      <intent-filter>
        <action android:name="android.intent.action.SEARCH" />
      </intent-filter>

      <meta-data
        android:name="android.app.searchable"
        android:resource="@xml/searchable" />
    </activity>
    <activity
      android:name="cy.ac.ucy.cs.anyplace.logger.legacy.SelectBuildingActivityOLD"
      android:excludeFromRecents="true"
      android:label="@string/app_name"
      android:screenOrientation="portrait"
      android:theme="@android:style/Theme.Dialog" >
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.DEFAULT" />
      </intent-filter>
    </activity>

    <!--<activity-->
    <!--  android:name="cy.ac.ucy.cs.anyplace.logger.legacy.LoggerActivityOLD"-->
    <!--  android:configChanges="keyboardHidden|orientation"-->
    <!--  android:icon="@drawable/anyplace_logo_icon_actionbar_white"-->
    <!--  android:label="@string/app_name_logger"-->
    <!--  android:screenOrientation="nosensor" >-->
    <!--  <intent-filter>-->
    <!--    <action android:name="android.intent.action.MAIN" />-->
    <!--    <category android:name="android.intent.category.DEFAULT" />-->
    <!--  </intent-filter>-->

    <!--  <intent-filter>-->
    <!--    <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />-->
    <!--  </intent-filter>-->
    <!--  <meta-data android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"-->
    <!--    android:resource="@xml/flir_usb_device_filter" />-->
    <!--</activity>-->

    <!--<activity-->
    <!--  android:name=".legacy.AnyplacePrefs"-->
    <!--  android:icon="@drawable/anyplace_logo_icon_actionbar_white"-->
    <!--  android:label="@string/prefs_name_anyplace"-->
    <!--  android:screenOrientation="nosensor" >-->
    <!--</activity>-->
    <!--<activity-->
    <!--  android:name="cy.ac.ucy.cs.anyplace.logger.legacy.LoggerPrefs"-->
    <!--  android:icon="@drawable/anyplace_logo_icon_actionbar_white"-->
    <!--  android:label="@string/prefs_name_logger"-->
    <!--  android:screenOrientation="nosensor" >-->
    <!--</activity>-->
    <!--<activity-->
    <!--  android:name="cy.ac.ucy.cs.anyplace.logger.legacy.AndroidFileBrowser"-->
    <!--  android:label="@string/app_choose_folder"-->
    <!--  android:screenOrientation="portrait" >-->
    <!--</activity>-->
    <!--<activity-->
    <!--  android:name="cy.ac.ucy.cs.anyplace.logger.legacy.OLDLoggerSettingsActivity"-->
    <!--  android:label="@string/prefs_name_anyplace"-->
    <!--  android:screenOrientation="portrait" >-->
    <!--</activity>-->

    <meta-data
      android:name="com.google.android.gms.version"
      android:value="@integer/google_play_services_version" />

    <meta-data
      android:name="com.google.android.geo.API_KEY"
      android:value="@string/maps_api_key" />
  </application>

</manifest>