<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="cy.ac.ucy.cs.anyplace.logger">

  <uses-permission android:name="com.dmsl.anyplace.permission.MAPS_RECEIVE" />
  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

  <!--  CHECK: we do not use sdcard any more. remove these? -->
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
  <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

  <!-- following 2: not required by recommended for GMaps APIv2 -->
  <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
  <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
  <uses-permission android:name="android.permission.WAKE_LOCK" />

  <application
      tools:ignore="LockedOrientationActivity"
      android:name=".LoggerApp"
      android:icon="@drawable/ic_launcher_logger"
      android:theme="@style/AppTheme"
      android:label="@string/app_name">
    <activity
        android:name="StartActivity"
        android:screenOrientation="portrait"
        android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"
        tools:ignore="LockedOrientationActivity"
        android:exported="true">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />

        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
  </application>

</manifest>