##############################################
# NOTES on updating config.py contents:
##############################################
# Create config.py from config.example.py
#   - Disable tracking:
#       git update-index --assume-unchanged config.example.py
#   - Enable tracking:
#       git update-index --no-assume-unchanged config.example.py
##############################################
#config.py
#config.example.py
