<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ImageTools" version="0.3.1" targetFramework="wp80" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.1.2" targetFramework="wp80" />
  <package id="Microsoft.Bcl" version="1.1.9" targetFramework="wp80" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="wp80" />
  <package id="Microsoft.Net.Http" version="2.2.22" targetFramework="wp80" />
  <package id="Newtonsoft.Json" version="6.0.3" targetFramework="wp80" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="wp80" />
  <package id="SharpZipLib-WP7" version="0.86.0.518" targetFramework="wp80" />
  <package id="System.Spatial" version="5.6.4" targetFramework="wp80" />
  <package id="WindowsPhoneControls" version="0.3.0" targetFramework="wp80" />
  <package id="WPtoolkit" version="4.2013.08.16" targetFramework="wp80" />
</packages>