
.hidden{
  display: none;
}

.visible-block{
  display: block;
}

.visible-inline{
  display: inline-block;
}

.clear{
  clear:both;
}

html, body{
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box; 
  -moz-box-sizing: border-box;
}

body {
  background-color: #ffffff;
  font-family: 'Open Sans' ,'Verdana', 'Trebuchet MS', 'serif';
  font-size: 14px;
  font-weight: normal;
}

.anybutton{
      padding: 5px;
      background-color: #920000;
      border: 0;
      color: #fafafa;
      font-weight: bold;
      opacity: 0.8;
}
  .anybutton:hover{
    cursor: pointer;
    opacity: 1;
  }

#site-header{
  margin: 0;
  padding: 10px;
  background-color: #2d2d2f;
  box-sizing: border-box; 
  -moz-box-sizing: border-box; 
  border-bottom: solid 2px #920000;
  text-align:center;
    position: fixed;
    width: 100%;
    z-index: 100;
}

  #site-header img{
    float: left;
    display: inline-block;
    height: 60px;
  }

  #site-header h1{
    float: right;
    display: inline-block;
    margin: 0;
    margin-top: 40px;
    padding: 0;
    font-size: 16px;
      color: #f0f0f0;
  }
  
  #site-header h1 a{
    text-decoration: none;
    color: #f0f0f0;
  }
  #site-header h1 a:hover{
    text-decoration: underline;

  }

#site-footer{
  margin: 0px;
  padding: 10px;
  background-color: #ffffff;
  box-sizing: border-box; 
  -moz-box-sizing: border-box; 
  border-top: solid 4px #920000;
  font-size: 12px;
  font-weight: bold;
  height: 70px;
}
  #site-footer .notice{
    float: left;
  }
  #site-footer .links{
    float: right;
  }
    #site-footer .links a{
      cursor: pointer;
      text-decoration: none;
      color: #000000;
      font-weight: normal;
    }
    #site-footer .links a:hover{
      text-decoration: underline;
    }

#content{
  width: 100%;
  padding: 0;
  margin: 0;
  background-image: url('images/00.png');
  background-repeat: repeat;
  /* the paddings below are required to keep this BG in the space before footer and after header */
  padding-top: 100px;
  padding-bottom: 40px;  
}

.outer-wrapper{
  width: 80%;
  margin: 0 auto;
}

#globals{
  box-sizing: border-box; 
  -moz-box-sizing: border-box;
  padding: 10px;
  background-color: #f0f0f0;
  color: #383838;
}
  #globals h1{
    display: inline-block;
    margin: 0;
    padding: 0;
    font-size: 16px;
  }


.params-header{
  box-sizing: border-box; 
  -moz-box-sizing: border-box; 
  width: 95%;
  margin: 0 auto;
  padding: 5px;
  color: #920000;
  font-weight: bold;
}
  .params-header-name{
    display: inline-block;
    width: 20%;
  }
  
  .params-header-value{
    display: inline-block;
    width: 40%;
  }
  
  .params-header-type{
    display: inline-block;
    width: 10%;
  }
  
  .params-header-description{
    display: inline-block;
    width: 29%;
  }

.param{
  box-sizing: border-box; 
  -moz-box-sizing: border-box; 
  width: 95%;
  margin: 0 auto;
  padding: 5px;
  color: #585858;
  border-top: 1px solid #dfdfdf; 
}
  .param-column-name{
    display: inline-block;
    width: 20%;
  }
  
  .param-column-value{
    box-sizing: border-box; 
    -moz-box-sizing: border-box; 
    display: inline-block;
    width: 40%;
  }
    .param-column-value input{
      width: 80%;
      border: 1px solid #c8c8c8;
      background-color: #fafafa;
      padding: 5px;
    }
    .param-column-value input:hover,
    .param-column-value input:focus{
      border: 1px solid #920000;
      background-color: #ffffff;
    }
  
  .param-column-type{
    display: inline-block;
    width: 10%;
  }
  
  .param-column-description{
    display: inline-block;
    width: 29%;
  }

#endpoints{
  width: 100%;
  box-sizing: border-box; 
  -moz-box-sizing: border-box; 
}

#endpoints-list{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.endpoint{
  position: relative;
  margin-top: 20px;
  color: #383838;
  /*border: 1px solid rgba(92, 0, 0, .3);*/
  background-color: #fff;
}
  .endpoint-title{
    display: inline-block;
    padding: 10px;
    margin-top: 0;
    margin-left: 0;
    background-color: #920000;
    color: #f0f0f0;
    font-weight: bold;
    font-size: 18px;
  }
  .endpoint-description{
    display: block;
    margin-right: 100px;
    padding: 10px;
  }
  
  .endpoint-toggleall{
    box-sizing: border-box; 
    -moz-box-sizing: border-box; 
    display: block;
    width: 100%;
    text-align: right; 
    padding-right: 15px;
    margin: 0;
    margin-top: -30px;
  }
  
    .endpoint-toggleall button{
      padding: 5px;
      background-color: #920000;
      border: 0;
      color: #fafafa;
      font-weight: bold;
      opacity: 0.8;
    }
    .endpoint-toggleall button:hover{
      cursor: pointer;
      opacity: 1;
    }
  
  .endpoint-methods-list{
    list-style-type: none;
    margin: 0;
    padding: 15px;
  }
    .endpoint-methods-item{
    }


.endpoint-method{
  margin-bottom: 10px;
}

.endpoint-method-header{  
  opacity: 0.8;
  background-color: #d0d0d0;
}
.endpoint-method-header:hover{  
  cursor: pointer;
  color: #000000;
  background-color: #eaeaea;
  opacity: 1;
}
  .endpoint-method-header-method{
    display: inline-block;
    padding: 10px 15px; 
    color: #ffffff;
    font-weight: bold;
    width: 40px;
    text-align: center;
  }
    .endpoint-method-header-post{
      background-color: #49AFCD;
    }
    .endpoint-method-header-get{
      background-color: #F89406;
    }
  .endpoint-method-header-uri{
    display: inline-block;
    margin-left: 40px;
  }
  .endpoint-method-header-name{
    display: inline-block;
    margin-left: 40px;
    font-weight: bold;
    color: #920000;
  }
  .endpoint-method-header-description{
    display: inline-block;
    padding: 10px 15px;
    float: right;
  }

.method-details{
  display: none;
  padding-top: 20px;
  background-color: #fafafa;
}
  
  .endpoint-method-params-list{
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
    .endpoint-method-params-item{
    }
    
  .endpoint-method-submit{
    margin-top: 20px;
    width: 100%;
    padding: 5px;
    background-color: #920000;
    border: 0;
    color: #fafafa;
    font-weight: bold;
    opacity: 0.8;
  }
    .endpoint-method-submit:hover{
      cursor: pointer;
      opacity: 1;
    }
  
  
  .endpoint-method-results{
    width: 100%;
    margin: 0 auto;
    padding-top: 10px;
    background-color: #ffffff;
  }
    .method-resp-result{
      margin-bottom: 10px;
      background-color: #f0f0f0;
      padding-bottom: 5px;
    }
      .method-resp-result-title{
        display: inline-block;
        padding: 5px;
        background-color: #920000;
        color: #ffffff;
        font-weight: bold;  
      }
      .method-resp-result-value{
        display: block;
        padding: 5px 15px;
        max-height: 500px;
        word-wrap: break-word;
        overflow: auto;
        font-size: 12px;
        font-family: 'Source Code Pro', sans-serif;
      }
      
        .method-resp-result-value pre{
          font-size: 12px;
          font-family: 'Source Code Pro', sans-serif;
        }
  
